<div class="logo">
    <a href="https://www.creative-tim.com" class="simple-text">
        <div class="logo-img">
            <img src="/assets/img/Atlo_logo.png" style="width:188px; margin-top:1px;"/>
        </div>
    </a>
</div>
<div class="sidebar-wrapper">
    <form class="navbar-form">
      <span class="bmd-form-group">
        <div class="input-group no-border">
          <input type="text" value="" class="form-control" placeholder="Search...">
          <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
            <i class="material-icons">search</i>
            <div class="ripple-container"></div>
          </button>
        </div>
      </span>
    </form>
    <ul class="nav navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#pablo">
                <i class="material-icons">dashboard</i>
                <p>
                    <span class=" d-md-block">Dashboard</span>
                </p>
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link" href="#pablo" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="material-icons">arrow_drop_down</i>
                <p>
                    <span class=" d-md-block">Add</span>
                </p>
            </a>
            <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" routerLink="/organization">
                    <i class="material-icons">arrow_drop_down</i>
                    Organization</a>
                <a class="dropdown-item" href="#">
                        <i class="material-icons">arrow_drop_down</i>
                    Facilities</a>
                <a class="dropdown-item" href="#">
                        <i class="material-icons">arrow_drop_down</i> Librarian</a>
                <a class="dropdown-item" href="#">
                        <i class="material-icons">arrow_drop_down</i> Terminals</a>
                <a class="dropdown-item" href="#">
                        <i class="material-icons">arrow_drop_down</i>Categories</a>
            </div>
        </li>
        <li class="nav-item dropdown">
                <a class="nav-link" href="#pablo" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="material-icons">arrow_drop_down</i>
                    <p>
                        <span class=" d-md-block">Show</span>
                    </p>
                </a>
                <div class="dropdown-menu dropdown-menu-left" aria-labelledby="navbarDropdownMenuLink">
                    <a class="dropdown-item" href="/organization/view">
                        <i class="material-icons">arrow_drop_down</i>
                        Organization</a>
                    <a class="dropdown-item" href="#">
                            <i class="material-icons">arrow_drop_down</i>
                        Facilities</a>
                    <a class="dropdown-item" href="#">
                            <i class="material-icons">arrow_drop_down</i> Librarian</a>
                    <a class="dropdown-item" href="#">
                            <i class="material-icons">arrow_drop_down</i> Terminals</a>
                    <a class="dropdown-item" href="#">
                            <i class="material-icons">arrow_drop_down</i>Categories</a>
                </div>
            </li>
        <li class="nav-item">
                <a class="nav-link" href="#pablo">
                    <i class="material-icons">dashboard</i>
                    <p>
                        <span class=" d-md-block">Show New Questions</span>
                    </p>
                </a>
            </li>
            <li class="nav-item">
                    <a class="nav-link" href="#pablo">
                        <i class="material-icons">dashboard</i>
                        <p>
                            <span class=" d-md-block">Show Wiki</span>
                        </p>
                    </a>
                </li>
                <li class="nav-item">
                        <a class="nav-link" href="#pablo">
                            <i class="material-icons">report</i>
                            <p>
                                <span class=" d-md-block">Reports</span>
                            </p>
                        </a>
                    </li>
    </ul>
  </div>
    <ul class="nav">
        <li routerLinkActive="active" *ngFor="let menuItem of menuItems" class="{{menuItem.class}} nav-item">
            <a class="nav-link" [routerLink]="[menuItem.path]">
                <i class="material-icons">{{menuItem.icon}}</i>
                <p>{{menuItem.title}}</p>
            </a>
        </li>
    </ul>
